/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 385px) {
    :root {
       --h1-font-size: 5.8rem;
       --h2-font-size: 2.8em;
    }

    .invitation-body {
        height: 50px; 
   }

    .border-bottom {
        height: 175px;
    }

    .invitation-body-details {
        height: 180px;
    }

    .invitation-body-bottom {
        height: 200px;
    }

    .border-bottom {
        height: 210px;
    }

    .invitation-body-details {
        padding: 0.5px 0;
    }

    .invitation-body-bottom {
        display: flex;
        justify-content: center;
        flex-flow: column;

        padding-top: 6.5em;
    }

    .invitation-body-bottom ul{
        text-align: center;
        padding-top: 0.4em;
    }

    .date-box {
        width: 55%;
    }

    .invitation-details {
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        column-gap: 0.5em;
    }
    .invitation-number {
        width: 100%;
        margin-top: -0.35em;
        height: 1.35em;
    }

    .party-location{
        padding-top: 1.2em;
    }
}
/* For medium devices */
@media screen and (min-width: 600px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container {
        width: 410px;
    }

    :root {
        --h1-font-size: 6.3rem;
        --h2-font-size: 2.9em;
     }
}
