/* ==== CUSTOM FONTS ==== */
@font-face {
  font-family: Amoresa Aged;
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/amoresa-aged.woff) format('woff');
}

@font-face {
  font-family: Eyesome Duo Script;
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/eyesome-duo-script.woff) format('woff');
}
@font-face {
  font-family: Special Elite;
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/special-elite.woff) format('woff');
}
@font-face {
  font-family: Distillery Strong;
  font-style: bold;
  font-weight: 600;
  src: url(/assets/fonts/distillery-strong.woff) format('woff');
}

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: 	rgb(71, 26, 159);
  --second-color: 	hsl(0, 0%, 75%);
  --shadow-color: hsl(0, 0%, 85%);
  --white-color: 	hsl(45, 29%, 97%);
  --text-color: var(--black-color);
  --black-color: hsl(0, 0%, 0%);

  /*========== Font and typography ==========*/
  --body-font: "Special Elite", serif;
  --h1-font: "Amoresa Aged", sans-serif;
  --h2-font: var(--body-font);
  --h3-font: "Distillery Strong", sans-serif;

  /*.5rem = 8px | 1rem = 16px ...*/
  --normal-font-size: 1rem;
  --h1-font-size: 5.45rem;
  --h2-font-size: 2.9rem;
  --h3-font-size: 0.798rem ;
  --smaller-font-size: 0.85em;

  --z-modal: 1000;
}

/* === BASE === */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--body-font);
}

html {
  scroll-behavior: smooth;
  background-color: var(--white-color);
}

body {
  --webkit-overflow-scrolling: touch;
  background-color: var(--white-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

strong {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

/* ==== REUSABLE CSS CLASSES ==== */
.container {
  overflow-x: hidden;
  background-color: var(--white-color);
}

.main {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.section {
  padding-block: 5rem 1rem;
  padding-inline: 1.5em;
  justify-content: center;
}

img {
  width: 100%;
}

.shadow {
  color: var(--first-color);
  text-shadow: 3.8px 4.2px var(--shadow-color);
}

h1 {
  font-family: var(--h1-font);
  font-size: var(--h1-font-size);
}

h2 {
  font-family: var(--h2-font);
  text-transform: uppercase;
  font-size: var(--h2-font-size);
}

/* === HEADER === */
.header {
  margin-top: -1em;
}

.header-img {
  background-size: 390px auto;
  background-repeat: repeat-y;
  background-position: center top;
}

.border{
  background-image: url(/assets/img/theme/border/border-top.png);
}

.border-middle {
  background-image: url(/assets/img/theme/border/border-middle.png);
}

.border-bottom {
  background-image: url(/assets/img/theme/border/border-bottom.png);
  height: 219px;
  margin-top: -25px;
  margin-bottom: 10px;
}

.web {
  position: absolute;
  top:0;
  left:0;
  z-index: 999;
}

/* === MAIN === */
.invitation {
  width: 80%;
  margin: 0 auto;
  top: 5.5em;
  position: relative;
}

/* === HEADER === */
.header-title {
  margin-top: 1em;
}
.header-title h2 {
  text-align: right;
  letter-spacing: 0.07em;
  right: 0.15em;
}

.header-title h1 {
  margin-top: -0.65em;
  letter-spacing: -0.03em;
  font-weight: lighter;
}

/* === INVITATION === */
.invitation-body {
  top: 4em;
  height: auto;
}

.invitation-body p {
  text-align: center;
  padding-bottom: 0.05em;
}

/* === DETAILS === */
.invitation-body-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;

  column-gap: 1em;
  padding: 1.5em 0;
}

.invitation-details {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
}

.date-box {
  border: 2px solid var(--black-color);
  padding: 0.7em;
  margin-bottom:0.5em;
}

.invitation-number {
  font-family: var(--h1-font);
  font-size: 3.5em;
  height: 1.25em;
  margin-bottom: 0.3em;
  margin-top: -0.48em;
  color: var(--first-color);
}

.invitation-line {
  margin-top: 0.5em;
  background-color: var(--black-color);
  height: 2px;
  width: 65%;
  margin-bottom: 0.5em;
}

.location-name {
  text-transform: uppercase;
  margin-bottom: 0.2em;
}

.invitation-rsvp {
  font-size: var(--smaller-font-size);
}

.RSVP-btn {
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 1em 2%;
  border-radius: 5px;
  margin-top: 0.5em;
  font-size: var(--smaller-font-size);
  
}

.RSVP-btn:hover {
  cursor: pointer;
}

/* === FOOTER === */
.invitation-body-bottom  {
  width: 85%;
}
.invitation-body-bottom p {
  text-align: left;
  padding-bottom: 0.3em;
}

.invitation-body-bottom ul {
  display: flex;
  column-gap: 0.2em;
}
.invitation-body-bottom li {
  font-family: var(--h3-font);
  font-size: var(--h3-font-size);
}

.bottom-list {
  padding-right: 0.3em;
  margin-right: 0.1em;
  border-right: 2px solid var(--black-color);
}

.invitation-right {
  display: flex;
  justify-content: right;
  right: 1.6em;
  top: 6.3em;
}

.wax-seal {
  width: 4em;
  height: 4em;
  background-image: url(/assets/img/theme/badge.png);
  background-size: cover;
  border-radius: 50%;
}

.copyright {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.copyright p {
  font-size: 0.5em;
  text-align: right;
}